body{
  padding-bottom: 100px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.image{
  width: 80vw;
}

.close-icon-container{
position: absolute;
right: 110px;
top: 60px;
}

.close-icon {
  width: 80px;
  z-index: 20;
  opacity: 70%;
}

.close-icon:hover {
  opacity: 1;
}


.description-container{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  display: none;
}

.description{
  width: 500px;
  display: inline-block;
  margin-right: 50px;
  display: relative;
}

.skylar{
  position: absolute;
  left: 18%;
  top: 10%;
  width: 110px;
  height: 40px;
  opacity: 0;
}

.description-image{
  width: 500px;

}

.big-grid{
  display: flex;
  justify-content: center;
  z-index: 0;
  height: calc(100vh - 70px);
}

.grid-container{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.gird-image{
  width: 1150px;
  opacity: 60%;
}

.icon-container{
  opacity: 50%;
  transition: opacity 0.5s ease;
  transition: z-index 0.5 ease;
}

.icon-container:hover{
  opacity: 100%;
  z-index: 10;
}

.icon-image {
  max-height: 200px;
}

.hospital-contents{
  position: relative;
}



/* typography settings*/

.h1 {
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-size: 13px;
  margin: 0;
	letter-spacing: 1px;
}

.h1-center {
	text-align: center;
	padding-top: 20px;
}

.hover-yellow:hover {
  cursor: pointer;
  color: black;
  background-color:#f7d580;
}

/* cursor setting*/


.custom-cursor {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
  z-index: 999;
  pointer-events: none;
}

.site-wide {
  display: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}
.site-wide .pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f7b81c;
	transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.effect-image{
	width: 80px;
}

.site-wide .effect{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}


.site-wide.active .pointer {
	width: 30px;
	height: 30px;
}

.site-wide.active .effect {
	opacity: 1;
}

.index-title{
	text-decoration: none;
  color: #333;
	cursor: pointer;
	transition: color 0.3s;
}
