@media screen and (max-width: 1100px) {
	.header-hospital{
		display: none;
	}
	.main-hospital{
		display: none;
	}
  .sidebar-hospital{
    display: none;
  }
  .reponsive-reminder{
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
@media screen and (min-width: 1100px) and (max-width: 2200px){
body{
  padding-bottom: 100px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.reponsive-reminder{
  display: none;
}
.main-hospital{
	padding-left: 270px;
	background-color: none;
  display: flex;      
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.big-name {
  color: black;
  padding-left: 40px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  cursor: pointer;
}
.index-title{
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}
.header-hospital{
  position: fixed;
  left: 0;
  width: 100vw;
  background-color: none;
  padding-left: 20px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 80;
}
.sidebar-hospital{
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  font-family: Poppins;
  left: 0;
  width: 210px;
  height: calc(100vh - 91px);
  background-color: none;
  padding: 40px;
  margin-top: 50px;
  margin-left: -1px;
}
.image{
  width: 80vw;
}

.close-icon-container{
position: absolute;
right: 110px;
top: 60px;
}

.close-icon {
  width: 80px;
  z-index: 20;
  opacity: 70%;
}

.close-icon:hover {
  opacity: 1;
}


.description-container{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  display: none;
}

.description{
  width: 500px;
  display: inline-block;
  margin-right: 50px;
  display: relative;
}

.skylar{
  position: absolute;
  left: 18%;
  top: 10%;
  width: 110px;
  height: 40px;
  opacity: 0;
}

.description-image{
  width: 500px;

}

.big-grid{
  display: flex;
  justify-content: center;
  z-index: 0;
  height: calc(100vh - 70px);
}

.grid-container{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.gird-image{
  width: 1150px;
  opacity: 60%;
}

.icon-container{
  opacity: 50%;
  transition: opacity 0.5s ease;
  transition: z-index 0.5 ease;
}

.icon-container:hover{
  opacity: 100%;
  z-index: 10;
}

.icon-image {
  max-height: 200px;
}

.hospital-contents{
  position: relative;
}



/* typography settings*/

.h1 {
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-size: 13px;
  margin: 0;
	letter-spacing: 1px;
}

.h1-center {
	text-align: center;
	padding-top: 20px;
}

.hover-yellow:hover {
  cursor: pointer;
  color: black;
  background-color:#f7d580;
}

/* cursor setting*/


.custom-cursor {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
  z-index: 999;
  pointer-events: none;
}

.site-wide {
  display: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}
.site-wide .pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f7b81c;
	transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.effect-image{
	width: 80px;
}

.site-wide .effect{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}


.site-wide.active .pointer {
	width: 30px;
	height: 30px;
}

.site-wide.active .effect {
	opacity: 1;
}

}