@font-face {
	font-family: 'Heap';
	src: url('./Heap-Regular.woff2') format('woff2'); /* Reference the font file */
	font-weight: normal;
	font-style: normal;
}

@media screen and (max-width: 1100px) {
	/* .header{
		display: none;
	}
	.side-bar-container{
		display: none;
	}
	.sidebar{
		display: none;
	} */
	.side-bar-container{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.main {
		padding-top: 116px;
		padding-left: 0px;
		background-color: none;
	}
	
	.reponsive-reminder{
		position: absolute;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (min-width: 1100px){
	.reponsive-reminder{
		display: none;
	}
	/* layout setting */
	.main {
		padding-top: 116px;
		background-color: none;
	}
	/* typography settings*/
	
	
	.hover-yellow:hover {
		cursor: pointer;
		color: black;
		background-color:#f7d580;
	}
	
	
	/* cursor setting*/
	
	
	.custom-cursor {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 999;
		pointer-events: none;
	}
	
	.site-wide {
		display: none;
		pointer-events: none;
		transform: translate(-50%, -50%);
		mix-blend-mode: multiply;
	}
	.site-wide .pointer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #f7b81c;
		transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
	}
	
	.effect-image{
		width: 80px;
	}
	
	.site-wide .effect{
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
	
	
	.site-wide.active .pointer {
		width: 30px;
		height: 30px;
	}
	
	.site-wide.active .effect {
		opacity: 1;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;

}
.index-title{
	text-decoration: none;
	color: #333;
	cursor: pointer;
	transition: color 0.3s;
}
.header{
	opacity: 1;
}
.header-text{
	font-family: 'Heap', sans-serif;
	font-size: 12px;
	line-height: 20px;
}
.h1 {
	font-family: Poppins;
	font-weight: 400;
	line-height: 16px;
	font-size: 13px;
	margin: 0;
	letter-spacing: 1px;
}
.h1-center {
	text-align: center;
	padding-top: 15px;
}
.text-link{
	padding: 6px 3px 6px 3px;
	margin: 0 0 0 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1.5px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
}

.removeA{
	text-decoration: none;
  color: inherit; 
}

.header-right-section{
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-right: 40px;
	transition: color 0.3s;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.header-right-section-index{
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-right: 40px;
	transition: color 0.3s;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.header-container{
	position: fixed;
	left: 0;
	width: 100vw;
	border-width: 1px;
	border-color: black;
	background-color: white;
	padding-left: 20px;
	padding: 16px 24px;
	border-bottom: 1px solid #000;
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	gap: 0; 
	align-items: top;
	z-index: 80;
}