@font-face {
	font-family: 'Heap';
	src: url('./Heap-Regular.woff2') format('woff2'); /* Reference the font file */
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	cursor:none;
}

/* Create a custom cursor element */
.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
  background-color: #f7d580;
	border-radius: 50%;
	pointer-events: none; /* Let clicks pass through */
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease;
	z-index: 10000;
}

.main {
	background-color: none;
}

.index-title{
	text-decoration: none;
	color: #333;
	/* cursor: pointer; */
	transition: color 0.3s;
}
.header{
	opacity: 1;
	position: fixed;
	z-index: 80;
	background-color: white;
	width: 100%;
	border-bottom: 1px solid #000;
}
.header-upper{
	position: relative;
	padding: 16px 8px;
	left: 0;
	width: 100%;
	display: grid;
	gap: 0; 
	align-items: top;
	z-index: 80;
	z-index: 81;
	background-color: white;
}
.header-text{
	font-family: 'Heap', sans-serif;
	font-size: 12px;
	line-height: 20px;
}
.header-block{
	padding: 0px 16px;
}
.h1 {
	font-family: 'Heap', sans-serif;
	font-size: 12px;
	line-height: 13px;
	margin: 0px;
}

.project-preview-title {
	padding-top: 12px;
	width: 100%;
}
.text-link{
	padding: 6px 3px 6px 3px;
	margin: 0 0 0 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1.5px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
}

.removeA{
	text-decoration: none;
  color: inherit; 
}

.hover-yellow{
	transition: background-color 0.3 ease;
}

.hover-yellow:hover{
	background-color: #f7d580;
}

.underline-div{
	width: calc(100% - 40px);
	padding-bottom: 8px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header-right-section{
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-right: 40px;
	transition: color 0.3s;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.header-right-section-index{
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-right: 40px;
	transition: color 0.3s;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
video {
	clip-path: inset(1px 1px);
}

/* Full-screen overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
  transform: translateY(0);
}

/* Hidden state (slide out) */
.loading-overlay.hide {
  transform: translateY(100vh);
}

@media screen and (max-width: 600px) {
  .header-upper{
		grid-template-columns: repeat(1, 1fr); 
  }
	.header-contact{
		padding-top: 12px;
	}
	.responsive-1{
		display: none;
	}
	.responsive-2 br {
		display: none;
	}
	.main{
		padding-top: 142px;
	}
	.header-block{
		padding: 0px 8px;
	}
	.project-preview-title {
		padding-top: 12px;
		width: 100%;
	}
	.custom-cursor {
		display: none;
	}
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .header-upper{
		grid-template-columns: repeat(2, 1fr); 
  }
	.header-social-links{
		display: inline-block;
	}
	.header-contact{
		margin-top: -20px;
	}
	.responsive-1{
		display: none;
	}
	.main{
		padding-top: 93px;
	}
	.header-block{
		padding: 0px 8px;
	}
	.project-preview-title {
		padding-top: 12px;
		width: 100%;
	}
}

@media screen and (min-width: 1100px) and (max-width: 2200px) {
	.header-upper{
		grid-template-columns: repeat(3, 1fr); 
  }
	.header-social-links{
		display: flex;
		width: fit-content;
	}
	.main{
		padding-top: 105px;
	}
	.project-preview-title {
		display: none;
	}
}

@media screen and (min-width: 2200px) {
	.project-preview-title {
		display: none;
	}
	.header-upper{
		grid-template-columns: repeat(3, 1fr); 
  }
	.header-social-links{
		display: flex;
		width: fit-content;
	}
	.main{
		padding-top: 105px;
	}
}