.main {
  padding-top: 50px;
  padding-left: 290px;
  background-color: none;}

.projects-display-grid{
  display: grid;
  padding-bottom: 0px;
  border-style: none;
  background-color: black;
  margin-left:1px;
}

.projects-display-grid{
  grid-template-columns: repeat(3, 1fr);
}

.illustration-display-grid{
  margin-left:1px;
  columns:20rem;
  gap:0px;
}

.play-display-grid{
  margin-left:1px;
  columns:20rem;
  gap:0px;
}

.project-container, .illustration-container,.play-container{
  background-color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  transition: border-radius 0.7s ease;
}

.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 22px 15px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.illustration-container{
  padding: 15px;
  margin-bottom: -1px;
  margin-left: -2px;
  position: relative;
  block-size: auto;
}

.play-container{
  padding: 15px;
  margin-bottom: -1px;
    margin-left: -1px;
  position: relative;
}
.project-container:hover, .illustration-container:hover, .play-container:hover{
  border-radius: 20px;
  cursor: pointer;
}
.illustration-image{
  width: 100%;
  height: auto;
  max-height: 80%;
  object-fit: contain;
 }
 .disable-interaction {
  pointer-events: none;
}
.grid-image {
max-width: 100%;
max-height: 500px;
object-fit: cover;
border-radius: 4px;
}
.meme-container{
  background-color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 12px;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: border-radius 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; 
}
.meme-container:hover {
  border-radius: 20px;
}
.grid-description{
  position: absolute; 
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.782);
  font-family: Poppins;
  font-size: 13px;
  transition: opacity 0.7s ease;
  opacity: 0;
 }

 .grid-description:hover{
  opacity: 1;
 }

@media screen and (max-width: 800px) {

}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  
  .grid-image {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 4px;
  }

  .memeBank-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-style: none;
    background-color: black;
  }

   .showIllustration{
      position: absolute;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 101;
      background-color: rgba(255, 255, 255, 0.753);
      display: flex;
      align-items: center;
      justify-content: center;
   }
  }

  @media screen and (min-width: 1100px) and (max-width: 2200px) {
    
    .projects-display-grid{
      grid-template-columns: repeat(3, 1fr);
    }

    .grid-description{
      position: absolute; 
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.782);
      font-family: Poppins;
      font-size: 13px;
      transition: opacity 0.7s ease;
      opacity: 0;
    }

  .memeBank-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      border-style: none;
      background-color: black;
  }

    .showIllustration{
      position: absolute;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 5%;
      z-index: 101;
      background-color: rgba(255, 255, 255, 0.753);
      display: flex;
      align-items: center;
      justify-content: center;
    }

}


@media screen and (min-width: 2200px) {

}