.project-container{
  background-color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: border-radius 1s ease;
}


.project-container:hover {
  border-radius: 25px;
  /*
  grid-column: span 2;
  grid-row: span 2;
  */
}


.projects-display-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  padding-left: 1px;
  padding-bottom: 1px;
  border-style: none;
  margin-left: 200px;
}

.grid-image {
  max-width: 100%;
  height: auto;
}
.h1 {
  font-family: Poppins;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
}