
.info{
  flex: 1;
  margin-bottom: -1px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: Poppins;
  font-size: 13px;
  padding: 10px 10px 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  transition: border-radius 0.6s;
}
.info:hover{
  border-radius: 18px;
}
.status-bar {
  font-family: Poppins;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  background-color: white;
  color: black;
  width: 50%;
  min-width: 80px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 50;
}

.stand-still-image{
  height: 85%;
  max-width: 75%;
  max-height: 350px;;
  z-index: 10;
}

.about-block{
  grid-column: span 2;
  grid-row: span 1; 
  display: grid;
  gap: 20px;
  background-color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 15px 15px 30px 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: border-radius 0.7s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-block:hover{
  border-radius: 18px;
}
.about-left{
  flex: 1fr;
  align-items: center;
  justify-content: space-between;
}

.about-animation-container{
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.about-right{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-title{
  font-family: Poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
}
.about-description{
  font-family: Poppins;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  max-width: 300px;;
}
.about-links{
  letter-spacing: 1px;
  color: black;
  line-height: 16px;
}
.button-container{
  display: none;
}

.question-button, .info-button, .clear-button{
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
.question-button:hover, .info-button:hover, .clear-button:hover{
  border-color: #f7d580;
  background-color: #f7d580;
  color: black;
}
.floating-info{
  position: absolute;
  width: 250px;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  padding: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
/* Hide the native checkbox */
input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #000000; /* Accent border color */
  border-radius: 50%; /* Rounded corners for the box */
  cursor: pointer;
  position: relative;
  margin-bottom: -3px;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #eebb3b; /* Accent color for the indicator */
  border-radius: 50%; /* This creates a circle; change this for a different shape */
}


@media screen and (min-width: 1300px) {
  .about-right{
    margin-left: -10%;
  }
  .about-left{
    margin-right: -10%;
  }
}