@media screen and (max-width: 1100px) {
  .hidden-cat{
    display: none;
  }
  .header-middle-section{
    display: none;
  }
}
@media screen and (min-width: 1100px){
  
  .add-above-info, .add-above-question, .add-above-plus{
    display: flex;
  }
  .about-block{
    grid-column: span 2;
    grid-row: span 2; 
    background-color: white;
    border-style: solid ;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding: 15px 15px 30px 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    transition: border-radius 0.7s ease;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
  }
  .about-block:hover{
    border-radius: 18px;
  }
  .about-left{
    flex: 1fr;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .about-animation-container{
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
  }

  .about-right{
    flex: 1fr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 15px 5px;
    margin-top: -10px;
  }
  .about-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
  }
  .about-description{
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
  }
  .about-links{
    letter-spacing: 1px;
    color: black;
    line-height: 16px;
  }
  .function-explained{
    margin-left: -1px;
    margin-bottom: -1px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: Poppins;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 8px;
    min-height: 100px;
    transition: border-radius 0.6s;
  }
  
  .flex-text{
    padding: 20px 20px 20px 20px;
  }
  
  .flex-1{
    flex: 1;
  }
  .flex-2{
    flex: 2;
  }
  
  .flex-1:hover, .flex-2:hover{
    border-radius: 18px;
  }
  
  .flex-container{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    margin: -1px 0 0 -1px;
    transition: border-radius 0.7s ease;
    display: none;
  }
  .flex-container:hover {
    border-radius: 18px;
  }
  .flex-content {
    padding: 20px;
  }

  
  /*header*/
  .header-middle-section{
    display: flex;
  }
  .top-icon{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
  }
  .top-icon:hover{
    border-color: #f7d580;
    background-color: #f7d580;
    color: black;
  }
  /*main page content*/
  .main-page-category, .main-page-contact{
    padding: 6px 3px 6px 3px;
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid black;
  }

  .main-page-project{
    padding: 4px 3px 4px 3px;
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .main-page-project:hover{
    text-decoration: underline;
    cursor:pointer
  }

  .hidden-cat{
    position: fixed;
    left: 30%;
    top: 26px;
    z-index: -1;
  }
  .hidden-cat-image{
    width: 200px;
  }
  .hidden-cat-text{
    width: 80px;
    position: fixed;
    top: -12px;;
    left: 600px;
    font-family: Poppins;
    color: white;
    font-size: 13px;
    padding-top: 70px;
  }

  
  .stand-still-image{
    position: absolute;
    right: 0;
    height: 95%;
    z-index: 10;
  }
  
  .sayhi-image{
    position: absolute;
    right: 0;
    height: 95%;
    z-index: 9;
  }
  
  .stand-still-image:hover{
    opacity: 0;
  }
  
  .catloaf{
    max-width: 170px;
    position: absolute;
  
  }
  .function-explained {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cat-container{
    position: relative;
    width: 200px;
  }
  .not-angry:hover{
    opacity: 0;
    z-index: 2;
  }
  .lurking-image{
    top: 0;
    position: absolute;
    width: 80%;
  }
  .lurking:hover{
    opacity: 0;
  }
  .lurking-container{
    display: none;
    position: relative;
    height: 173px;
    margin-top: -20px;
  }
  .selected-yellow, .selected-red, .selected-blue{
    color: black;
    padding: 6px 13px 6px 3px;
    /* margin-left: -10px; */
    background-color:#f7d580;
  }
  
   .hover-yellow1:hover {
    cursor: pointer;
    color: black;
    padding: 6px 13px 6px 3px;
    background-color:#f7d580;
  }

}
.info{
  flex: 1;
  margin-bottom: -1px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: Poppins;
  font-size: 13px;
  padding: 10px 10px 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  transition: border-radius 0.6s;
}
.info:hover{
  border-radius: 18px;
}