.content-image.cover-gif{
  height: auto;
  width: 100%;
}

.project-main{
  padding-top: 53px;
}

.project-content, .pz-content{
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: -1px 0 0 0;
  min-height: calc(100vh - 86px);
  transition: border-radius 0.7s ease;
  display: flex; 
  flex-direction: column;
}

.project-content{
  align-items: center;
}

.wide-content{
  width: 100vw;
  max-width: 100%;
  margin-bottom: 100px;
}

.narrow-content{
  max-width: 80vw;
  height: auto;
  padding: 0 100px 100px 100px;
}

.extra-narrow-content{
  max-width: 45vw;
  height: auto;
 padding: 0 100px 100px 100px;
}

.space-80px{
  width: 100vw;
  height: 80px;
}

.duo-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}

.narrow-duo-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80vw;
  height: auto;
  padding: 0 100px 100px 100px;
}

iframe{
  height: 40vw;
  width: 70vw;
}

.copyRight{
  text-align: left;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid black;
  width: 100%;
}


.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the container without distortion */
}


.project-info-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 20px;
  width:100%;
  max-width:1200px;
  margin: 60px 0 180px 0;
	font-family: 'Heap', sans-serif;
	font-size: 12px;
	line-height: 20px;
}

.project-title{
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 0px;
  margin-bottom: 8px;
  grid-column: span 4;
  border-bottom: 1px solid black;
}

.project-brief{
  grid-column: span 2;
}

.credit-link{
  text-decoration: underline; 
  color: black;
}

.project-explained{
  /* max-width: 500px; */
}

.project-credits{
  grid-column: span 1;
}
.project-tools{
  grid-column: span 1;
}
.down-symbol{
  position: absolute;
  bottom: 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 40px;
  text-align: center;
}

.image-grid{
  padding-top: 40px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20vh;
}

.grid-toolbar{
  position: absolute;
  left:0;
  right:0;
  background-color: white;
  font-family: Poppins;
  font-size: 13px;
  line-height: 15px;
  opacity: 0;
  text-align: center;
  border: 1px solid black;
  padding: 5px 5px;
  z-index: 2;
}

.grid-toolbar:hover{
  opacity: 1;
  z-index:2;
  left:30%;
  right:30%;
}

.bigger{
  grid-column: span 4;
  grid-row: span 3; 
}

.reminder{
  position: absolute;
  top: 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  padding-top: 40px;
  text-align: center;
}

.project-content:hover{
  border-radius: 18px;
}

.image-present{
  padding-top: 40px;
  max-width: 60%;
  margin-top: 40px
}

.image-container{
  position: relative;
  display: flex;
  align-items: center;
  z-index: 30;

}
.bigg{
  position: relative;
  display: flex;
  align-items: center;
  z-index: 30;
  transition: opacity 0.6s ease;
}

.bigg:hover{
  opacity: 30%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .project-side-bar-container{
    display: none;
  }

  .presentation-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; /* Consolidated column-gap and row-gap */
  }

  .project-info-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .content3x6, .content3x3, .content4x6, .content2x2, .content4x4, .content3x4, .content6x4{
    grid-row: span 1;
    grid-column: span 1;
  }

}

@media screen and (min-width:600px) and (max-width: 1100px) {
  .project-side-bar-container{
    display: none;
  }

}

@media screen and (min-width: 1100px){

/* main content */


/* sidebar area*/

.project-side-bar-container{
  position: relative;
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  left: 0;
  width: 270px;
	height: calc(100vh - 87px);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 20px;
  margin-top: 46px;
  margin-left: -1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: border-radius 0.7s ease;
  justify-content: space-between;
}

.project-side-bar-container:hover{
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}

.project-description{
  margin-top: 20px;
  font-size: 13px;
}

}